<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ase">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity
            android:name="._15AboutUs"
            android:exported="false" />
        <activity
            android:name="._14UserProfile"
            android:exported="false" />
        <activity
            android:name="._13Numbers"
            android:exported="false" />
        <activity
            android:name=".MainScreen"
            android:exported="false" />
        <activity
            android:name="._0CheckAccount"
            android:exported="false" />
        <activity
            android:name="._12AssignedMissoin"
            android:exported="false" />
        <activity
            android:name="._11FirstAisDetails"
            android:exported="false" />
        <activity
            android:name="._10FinishTheMission"
            android:exported="false" />
        <activity
            android:name="._9TrackingReportLocation"
            android:exported="false" />
        <activity
            android:name="._8MoveCarToDealWithReport"
            android:exported="false" />
        <activity
            android:name="._7LatestReports"
            android:exported="false" />
        <activity
            android:name="._6Login"
            android:exported="false" />
        <activity
            android:name="._4NearestCenter"
            android:exported="false" />
        <activity
            android:name="._3FirstAid"
            android:exported="false" />
        <activity
            android:name="._2SendReport"
            android:exported="false" />
        <activity
            android:name="._1CreateAccount"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>